config.yaml
.env
*.db

# Dependencies
node_modules/

# Build output
/webui/dist/
bin/
/internal/webui/dist/*
!/internal/webui/dist/.gitkeep
/main
/app
tmp/
build-errors.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/
